*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: monserat, serif;
    background-color: hsl(30, 38%, 92%);
}

.container {
    background-color: white;
    display: inline-flex;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    width: 50vw;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1 {
    font-family: 'Fraunces';
    font-weight: bold, 700px;
}

#description {
    font-size: 14px;
}

img {
    width: 50vw;
    height: 50vh;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-right: 2rem;
    margin-left: -1rem;
}

#discount {
    color: hsl(158, 36%, 37%);
}

#normal-price {
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-color: black;
}

#price {
    display: flex;
    font-family: 'Fraunces';
    font-weight: 700px;
}

#btn {
    display: flex;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    align-self: baseline;
    color: white;
    border: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
    width: 20rem;
    height: 3rem;
    font-family: 'Fraunces';
    font-weight: 700px;

}

#mobile-img {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media (max-width: 375px) {
    #desktop-img {
        display: none;
    }
}

@media (max-width: 1440px) {}